/airflow.cfg
/airflow.db
/airflow-scheduler.err
/airflow-scheduler.log
/airflow-scheduler.out
/airflow-scheduler.pid
/airflow-webserver.err
/airflow-webserver.log
/airflow-webserver.out
/airflow-webserver.pid
/airflow-webserver-monitor.pid
/datetimes.csv
/requirements.txt
/webserver_config.py
/logs/
/.DS_Store
/.idea/
/dags/__pycache__/